.login-form{
    background-color:rgba(158, 182, 174, 0.466);
   
   margin:40px 200px;
   width: 400px;
   margin-left:500px;
   height:500px;
  z-index: 100;
 padding-top: 50px;


}
.Control-Width{
  margin: 20px 20px;
  
    
}
.Control-Width-btn{
  margin: 17px 45px;
    /* width: 360px; */
}
.Google-btn{
  width: 320px !important;
  margin: 20px 37px !important;
  height: 40px !important;
  padding-left: 80px !important;
}
.bgImage {
    /* The image used */
    background-image: url(../../Assets/Background.jpg);
  
    
  
  background-attachment: fixed;
   /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover; 
    min-height: 100%;
    min-width: 1024px;
    filter: brightness(65%);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  .Text-Color{
     color: white;
  }
  .Field-width{
    width: 100%;
  }